//  lancer      ..\dart-sass\sass .\SCSS\style.scss .\CSS\style.css --watch

// variables
//couleurs
$noir : #000;
$blanc : #fff;
$couleur-primaire : #e9bb88;
$couleur-secondaire : #f3e9f0;
$couleur-tertiaire : #c1a4ff;
//tailles
$large : 2em;
$espace_articles : 65px;

//mixins
@mixin flex_center($align-center : initial) /*Celle ci permet d'aligner automatiquement sur l'axe horizontal, avec vertical en option*/
{
    display: flex;
    justify-content: center;
    align-items: $align-center;
}

@mixin police($grand :normal)
{
    font-family: 'Architects Daughter', cursive, Arial, Helvetica, sans-serif;
    font-size: $grand;
}

@mixin marges-auto($specification : auto) //pour mettre les marges auto avec marge spécifique en option
{
    margin-right: $specification;
    margin-left: $specification;
}

//règles générales
//liens
a {
    text-decoration: none;
    color:$noir;
    cursor: pointer;
}
//body
body {
    margin : 0;
}

.max-width-container {
    width: 1600px;
    @include marges-auto();
}

//Header

header {
    background-color: $couleur-secondaire;
    .entete {
        display: flex;
        justify-content: space-around;
        align-items: center;
        nav ul
        {
            width: 600px;
            display: flex;
            justify-content: space-around;
            list-style-type: none;
            @include police($large);
        }
    }
}

//page principale
// articles 
.contenu {
    h1 {
        @include police();
        margin-left: $espace_articles;
        margin-bottom: $espace_articles;
    }
}


.liste_articles {
    display: flex;
    flex-wrap: wrap;
}

.article {
    @include police();
    @include marges-auto($espace_articles);
    margin-bottom: $espace_articles;
    width : 400px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 0 4px 4px darken($blanc, 10%);
    color:$noir;
    overflow: hidden;
    div {
        height : 250px;
        overflow: hidden;
    }
    a {
        width: 100%;
    }
    .produit_ours {
        width: 100%;
        object-fit: cover;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        transition: all 0.4s;
    }
    &:hover a img {
        transform:scale(1.25);
        transition: all 0.4s;
    }

    h2 {
        @include flex_center(center);
        margin: auto;
        margin-top: 5px;
    }
}
//page produit seul

.produit_seul {
    @include police();
    @include marges-auto($espace_articles);
    margin-top: $espace_articles;
    margin-bottom: $espace_articles;
    border-radius: 20px;
    box-shadow: 0 6px 6px darken($blanc, 20%);
    overflow: hidden;
    div {
        overflow: hidden;
    }
    h2 {
        height: 80px;
        @include police($large);
        @include flex_center(center);
        margin: 0;
    }
    .produit_ours {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        transition: all 0.4s;
    }
    &:hover a img {
        transform:scale(1.25);
        transition: all 0.4s;
    }
}

//footer
footer {
    @include police($large);
    background-color: $couleur-tertiaire;
    .footer{
        padding-top: $espace_articles;
        padding-bottom: $espace_articles;
    }
    ul {
        display: flex;
        justify-content: space-around;
        list-style-type: none;
    }
}