// variables
//couleurs
$noir : #000;
$blanc : #fff;
$couleur-primaire : #e9bb88;
$couleur-secondaire : #f3e9f0;
$couleur-tertiaire : #c1a4ff;
$couleur-rouge-leger : #ff6a6a;
//tailles
$large : 2em;
$espace_articles : 65px;