// page panier 
.titre_panier {
    display: flex;
    align-items: center;
    margin-bottom: $espace_articles;
    margin-top: $espace_articles;
    @include police(2em);
    h1 {
        @include police(1.5em);
        margin : 0;
        margin-left : $espace_articles;
        @media screen and (min-width: 320px) and (max-width: 1099px)  {
            @include police(1em);
        }
    }
    #suppression_panier {
        background-color: $couleur-rouge-leger;
    }
}

.article_panier {
    @include police();
    @include flex_center(center);
    margin-bottom: $espace_articles;
    width : 100%;
    height: 200px;
    border-radius: 20px;
    box-shadow: 0 4px 4px darken($blanc, 10%);
    color:$noir;
    overflow: hidden;
    @media screen and (min-width: 1100px) and (max-width: 1600px)  {
        @include police(small);
    }
    @media screen and (min-width: 320px) and (max-width: 1099px)  {
        @include police(small);
        flex-direction: column;
        height: 450px;
    }
    div {
        overflow: hidden;
    }
    .renseignements_panier {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        // margin-left: 30px;
        @include police($large);
        width: 70%;
        @media screen and (min-width: 1100px) and (max-width: 1600px)  {
            flex-direction: column;
        }
        @media screen and (min-width: 320px) and (max-width: 1099px)  {
            flex-direction: column;
            width: 100%;
            order: 2;
            margin-top: 20px;
        }
        .div_boutons {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            width: 25%;
            @media screen and (min-width: 320px) and (max-width: 1600px)  {
                width: 100%;
                height: 80px;
                align-content: center;
            }
            button {
                @media screen and (min-width: 320px) and (max-width: 1600px)  {
                    margin : 10px;
                }
            }
        }
    }
    .renseignement_texte {
        width: 70%;
        height: 40px;
        margin-top: 30px;
        margin-bottom: 30px;
        @media screen and (min-width: 320px) and (max-width: 1600px)  {
            margin-top: 0;
            margin-bottom: 0;
            width: 90%;
            margin-right: auto;
            margin-left: auto;
        }
        @media screen and (min-width: 600px) and (max-width: 1099px)  {
            height: 80px;
        }
        @media screen and (min-width: 320px) and (max-width: 599px)  {
            @include police(small);
        }
    }
    #titre_total {
        width: 200px;
    }
    .bordure_panier {
        width: 5px;
        height: 100%;
        // background-color: red;
        background-color: darken($blanc, 10%);
        @media screen and (min-width: 320px) and (max-width: 1099px)  {
            display: none;
        }
    }
    .produit_ours_panier {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        transform-origin: left;
        transition: all 0.4s;
        @media screen and (min-width: 320px) and (max-width: 1099px)  {
            transform-origin: bottom;
        }
    }
    .photo_produit_panier {
        width: 33%;
        @media screen and (min-width: 320px) and (max-width: 1099px)  {
            order: 1;
            width: 100%;
            height: 200px;
        }
    }
    &:hover a img {
        transform:scale(1.25);
        transition: all 0.4s;
    }
    h2 {
        width: 100px ;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 30px;
        padding-left: 30px;
        @media screen and (min-width: 320px) and (max-width: 1099px)  {
            order: 1;
        }
    }
}
.renseignement_finalisation {
    @include police($large);
    @include flex_center(center);
    justify-content: space-evenly;
    border-radius: 20px;
    box-shadow: 0 4px 4px darken($blanc, 10%);
    background-color: darken($blanc, 10%);
    height: 350px;
    margin-bottom: $espace_articles;
    @media screen and (min-width: 1100px) and (max-width: 1600px)  {
        width: 100%;
    }
    @media screen and (min-width: 320px) and (max-width: 1099px)  {
        @include police(1em);
        width: 100%;
        height: 500px;
        margin-top: 50px;
        flex-direction: column;
    }
    h2 {
        @media screen and (min-width: 1100px) and (max-width: 1600px)  {
            @include police(1em);
        }
    }
    #renseignement_total {
        margin-left: 30px;
        text-align: center;
    }
    .renseignements_panier {
        @include flex_center(center);
        @include police();
        height: 100%;
        @media screen and (min-width: 320px) and (max-width: 1099px)  {
            width: 80%;
        }
        div {
            width: 100%;
            label{
                display: inline-block;
                clear: left;
                width: 250px;
                text-align: right;
                @media screen and (min-width: 320px) and (max-width: 600px)  {
                    text-align: center;
                }
            }
            input {
                display: inline-block;
                height: 30px;
                width: 400px;
                border-radius: 20px;
                @media screen and (min-width: 320px) and (max-width: 600px)  {
                    width: 230px;
                }
            }
            .bouton_commander {
                @include police(1em);
                width: 400px;
                position: relative;// sert à positionner un peu plus a gauche
                left: -150px;
                margin-top : 10px;
                @media screen and (min-width: 1100px) and (max-width: 1600px)  {
                    left: -50px;
                }
                @media screen and (min-width: 600px) and (max-width: 1099px)  {
                    margin-top: 20px;
                    left: 80px;
                    width: 250px;
                }
                @media screen and (min-width: 320px) and (max-width: 599px)  {
                    margin-top: 20px;
                    left: 50px;
                    width: 150px;
                }
            }
        }
    }
}