@keyframes hoverBoutons {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.1);
  }
  40% {
    transform: scale(1.2);
  }
  60% {
    transform: scale(1.3);
  }
  80% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1.2);
  }
}
@keyframes stopHover {
  from {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}
a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

input:focus {
  outline: none;
  border: 2px solid #e9bb88;
}
input:not(:focus):not(:placeholder-shown):invalid {
  border: 2px solid red;
}

button {
  font-family: "Architects Daughter", cursive, Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  background-color: #e9bb88;
  margin-top: 30px;
  margin-bottom: 30px;
  cursor: pointer;
  animation: stopHover 200ms;
}
button:hover {
  animation: hoverBoutons 125ms ease-in-out alternate forwards;
}

.bouton_delete_panier, #bouton_delete_panier {
  background-color: #ff6a6a;
}

body {
  margin: 0;
}

.max-width-container {
  width: 1600px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 1100px) and (max-width: 1599px) {
  .max-width-container {
    width: 1060px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1099px) {
  .max-width-container {
    width: 530px;
  }
}
@media screen and (min-width: 320px) and (max-width: 599px) {
  .max-width-container {
    width: 300px;
  }
}

header {
  background-color: #f3e9f0;
}
@media screen and (min-width: 320px) and (max-width: 599px) {
  header .logo {
    height: 140px;
  }
}
header .entete {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media screen and (min-width: 320px) and (max-width: 1099px) {
  header .entete {
    flex-direction: column;
  }
}
header .entete nav ul {
  width: 600px;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  font-family: "Architects Daughter", cursive, Arial, Helvetica, sans-serif;
  font-size: 2em;
}
@media screen and (min-width: 320px) and (max-width: 599px) {
  header .entete nav ul {
    flex-direction: column;
    width: 200px;
  }
}
header .entete nav ul li, header .entete nav ul a {
  display: flex;
}
header .entete nav ul #pastille_panier {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  position: relative;
  left: -110px;
  top: -10px;
  font-size: 0.7em;
  background-color: red;
}

footer {
  font-family: "Architects Daughter", cursive, Arial, Helvetica, sans-serif;
  font-size: 2em;
  background-color: #c1a4ff;
}
footer .footer {
  padding-top: 65px;
  padding-bottom: 65px;
}
footer ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}
@media screen and (min-width: 320px) and (max-width: 599px) {
  footer ul {
    flex-direction: column;
    padding-left: 0;
  }
}
footer ul li {
  margin: 0 0 30px 0;
}

@media screen and (min-width: 320px) and (max-width: 1599px) {
  .contenu {
    display: flex;
    flex-wrap: wrap;
  }
}
.contenu h1 {
  font-family: "Architects Daughter", cursive, Arial, Helvetica, sans-serif;
  font-size: normal;
  margin-left: 65px;
  margin-bottom: 65px;
}

.liste_articles_accueil {
  display: flex;
  flex-wrap: wrap;
}

.article {
  font-family: "Architects Daughter", cursive, Arial, Helvetica, sans-serif;
  font-size: normal;
  margin-right: 65px;
  margin-left: 65px;
  margin-bottom: 65px;
  width: 400px;
  height: 300px;
  border-radius: 20px;
  box-shadow: 0 4px 4px #e6e6e6;
  color: #000;
  overflow: hidden;
}
@media screen and (min-width: 320px) and (max-width: 599px) {
  .article {
    margin-right: 0;
    margin-left: 0;
    width: 300px;
  }
}
.article div {
  height: 250px;
  overflow: hidden;
}
.article a {
  width: 100%;
}
.article .produit_ours {
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  transition: all 0.4s;
}
.article:hover a img {
  transform: scale(1.25);
  transition: all 0.4s;
}
.article h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 5px;
}

.produit_seul {
  font-family: "Architects Daughter", cursive, Arial, Helvetica, sans-serif;
  font-size: normal;
  margin-right: 65px;
  margin-left: 65px;
  display: flex;
  height: 500px;
  margin-top: 65px;
  margin-bottom: 65px;
  border-radius: 20px;
  box-shadow: 0 6px 6px #cccccc;
  overflow: hidden;
}
@media screen and (min-width: 320px) and (max-width: 1599px) {
  .produit_seul {
    font-family: "Architects Daughter", cursive, Arial, Helvetica, sans-serif;
    font-size: small;
    margin-left: 0;
    margin-right: 0;
  }
}
@media screen and (min-width: 320px) and (max-width: 1099px) {
  .produit_seul {
    flex-direction: column-reverse;
    height: 1000px;
  }
}
.produit_seul .description_produit {
  font-family: "Architects Daughter", cursive, Arial, Helvetica, sans-serif;
  font-size: 2em;
  width: 50%;
  flex-direction: column;
}
@media screen and (min-width: 320px) and (max-width: 1099px) {
  .produit_seul .description_produit {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    height: 400px;
  }
}
.produit_seul div {
  width: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
@media screen and (min-width: 320px) and (max-width: 1099px) {
  .produit_seul div {
    width: 100%;
  }
}
.produit_seul h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Architects Daughter", cursive, Arial, Helvetica, sans-serif;
  font-size: normal;
  margin: 0;
  margin-right: auto;
  margin-left: auto;
}
.produit_seul .produit_ours {
  width: 100%;
  height: 510px;
  object-fit: cover;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  transition: all 0.4s;
}
@media screen and (min-width: 320px) and (max-width: 1099px) {
  .produit_seul .produit_ours {
    height: 600px;
    border-bottom-right-radius: 0;
  }
}
.produit_seul .produit_ours:hover {
  transform: scale(1.25);
  transition: all 0.4s;
}

.titre_panier {
  display: flex;
  align-items: center;
  margin-bottom: 65px;
  margin-top: 65px;
  font-family: "Architects Daughter", cursive, Arial, Helvetica, sans-serif;
  font-size: 2em;
}
.titre_panier h1 {
  font-family: "Architects Daughter", cursive, Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  margin: 0;
  margin-left: 65px;
}
@media screen and (min-width: 320px) and (max-width: 1099px) {
  .titre_panier h1 {
    font-family: "Architects Daughter", cursive, Arial, Helvetica, sans-serif;
    font-size: 1em;
  }
}
.titre_panier #suppression_panier {
  background-color: #ff6a6a;
}

.article_panier {
  font-family: "Architects Daughter", cursive, Arial, Helvetica, sans-serif;
  font-size: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 65px;
  width: 100%;
  height: 200px;
  border-radius: 20px;
  box-shadow: 0 4px 4px #e6e6e6;
  color: #000;
  overflow: hidden;
}
@media screen and (min-width: 1100px) and (max-width: 1600px) {
  .article_panier {
    font-family: "Architects Daughter", cursive, Arial, Helvetica, sans-serif;
    font-size: small;
  }
}
@media screen and (min-width: 320px) and (max-width: 1099px) {
  .article_panier {
    font-family: "Architects Daughter", cursive, Arial, Helvetica, sans-serif;
    font-size: small;
    flex-direction: column;
    height: 450px;
  }
}
.article_panier div {
  overflow: hidden;
}
.article_panier .renseignements_panier {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-family: "Architects Daughter", cursive, Arial, Helvetica, sans-serif;
  font-size: 2em;
  width: 60%;
}
@media screen and (min-width: 1100px) and (max-width: 1600px) {
  .article_panier .renseignements_panier {
    flex-direction: column;
  }
}
@media screen and (min-width: 320px) and (max-width: 1099px) {
  .article_panier .renseignements_panier {
    flex-direction: column;
    width: 100%;
    order: 2;
    margin-top: 20px;
  }
}
.article_panier .renseignements_panier .div_boutons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 25%;
}
@media screen and (min-width: 320px) and (max-width: 1600px) {
  .article_panier .renseignements_panier .div_boutons {
    width: 100%;
    height: 80px;
    align-content: center;
  }
}
@media screen and (min-width: 320px) and (max-width: 1600px) {
  .article_panier .renseignements_panier .div_boutons button {
    margin: 10px;
  }
}
.article_panier .renseignement_texte {
  width: 70%;
  height: 40px;
  margin-top: 30px;
  margin-bottom: 30px;
}
@media screen and (min-width: 320px) and (max-width: 1600px) {
  .article_panier .renseignement_texte {
    margin-top: 0;
    margin-bottom: 0;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 600px) and (max-width: 1099px) {
  .article_panier .renseignement_texte {
    height: 80px;
  }
}
@media screen and (min-width: 320px) and (max-width: 599px) {
  .article_panier .renseignement_texte {
    font-family: "Architects Daughter", cursive, Arial, Helvetica, sans-serif;
    font-size: small;
  }
}
.article_panier #titre_total {
  width: 200px;
}
.article_panier .bordure_panier {
  width: 5px;
  height: 100%;
  background-color: #e6e6e6;
}
@media screen and (min-width: 320px) and (max-width: 1099px) {
  .article_panier .bordure_panier {
    display: none;
  }
}
.article_panier .produit_ours_panier {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  transform-origin: left;
  transition: all 0.4s;
}
@media screen and (min-width: 320px) and (max-width: 1099px) {
  .article_panier .produit_ours_panier {
    transform-origin: bottom;
  }
}
.article_panier .photo_produit_panier {
  width: 33%;
}
@media screen and (min-width: 320px) and (max-width: 1099px) {
  .article_panier .photo_produit_panier {
    order: 1;
    width: 100%;
    height: 200px;
  }
}
.article_panier:hover a img {
  transform: scale(1.25);
  transition: all 0.4s;
}
.article_panier h2 {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 30px;
  padding-left: 30px;
}
@media screen and (min-width: 320px) and (max-width: 1099px) {
  .article_panier h2 {
    order: 1;
  }
}

.renseignement_finalisation {
  font-family: "Architects Daughter", cursive, Arial, Helvetica, sans-serif;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 20px;
  box-shadow: 0 4px 4px #e6e6e6;
  background-color: #e6e6e6;
  height: 350px;
  margin-bottom: 65px;
}
@media screen and (min-width: 1100px) and (max-width: 1600px) {
  .renseignement_finalisation {
    width: 100%;
  }
}
@media screen and (min-width: 320px) and (max-width: 1099px) {
  .renseignement_finalisation {
    font-family: "Architects Daughter", cursive, Arial, Helvetica, sans-serif;
    font-size: 1em;
    width: 100%;
    height: 500px;
    margin-top: 50px;
    flex-direction: column;
  }
}
@media screen and (min-width: 1100px) and (max-width: 1600px) {
  .renseignement_finalisation h2 {
    font-family: "Architects Daughter", cursive, Arial, Helvetica, sans-serif;
    font-size: 1em;
  }
}
.renseignement_finalisation #renseignement_total {
  margin-left: 30px;
  text-align: center;
}
.renseignement_finalisation .renseignements_panier {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Architects Daughter", cursive, Arial, Helvetica, sans-serif;
  font-size: normal;
  height: 100%;
}
@media screen and (min-width: 320px) and (max-width: 1099px) {
  .renseignement_finalisation .renseignements_panier {
    width: 80%;
  }
}
.renseignement_finalisation .renseignements_panier div {
  width: 100%;
}
.renseignement_finalisation .renseignements_panier div label {
  display: inline-block;
  clear: left;
  width: 250px;
  text-align: right;
}
@media screen and (min-width: 320px) and (max-width: 600px) {
  .renseignement_finalisation .renseignements_panier div label {
    text-align: center;
  }
}
.renseignement_finalisation .renseignements_panier div input {
  display: inline-block;
  height: 30px;
  width: 400px;
  border-radius: 20px;
}
@media screen and (min-width: 320px) and (max-width: 600px) {
  .renseignement_finalisation .renseignements_panier div input {
    width: 230px;
  }
}
.renseignement_finalisation .renseignements_panier div .bouton_commander {
  font-family: "Architects Daughter", cursive, Arial, Helvetica, sans-serif;
  font-size: 1em;
  width: 400px;
  position: relative;
  left: -150px;
  margin-top: 10px;
}
@media screen and (min-width: 1100px) and (max-width: 1600px) {
  .renseignement_finalisation .renseignements_panier div .bouton_commander {
    left: -50px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1099px) {
  .renseignement_finalisation .renseignements_panier div .bouton_commander {
    margin-top: 20px;
    left: 80px;
    width: 250px;
  }
}
@media screen and (min-width: 320px) and (max-width: 599px) {
  .renseignement_finalisation .renseignements_panier div .bouton_commander {
    margin-top: 20px;
    left: 50px;
    width: 150px;
  }
}

#finalisation {
  font-family: "Architects Daughter", cursive, Arial, Helvetica, sans-serif;
  font-size: 2em;
  margin-right: 2em;
  margin-left: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 600px;
  border-radius: 40px;
  box-shadow: 0 4px 4px #e6e6e6;
  background-color: #e9bb88;
  margin-top: 2em;
  margin-bottom: 2em;
}
@media screen and (min-width: 320px) and (max-width: 1600px) {
  #finalisation {
    padding: 50px;
  }
}
@media screen and (min-width: 800px) and (max-width: 1200px) {
  #finalisation {
    height: 700px;
  }
}
@media screen and (min-width: 600px) and (max-width: 799px) {
  #finalisation {
    height: 600px;
    font-family: "Architects Daughter", cursive, Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    align-content: space-between;
  }
}
@media screen and (min-width: 320px) and (max-width: 599px) {
  #finalisation {
    font-family: "Architects Daughter", cursive, Arial, Helvetica, sans-serif;
    font-size: 1.1em;
  }
}
#finalisation #adresse_facturation {
  display: flex;
  justify-content: center;
  border-radius: 20px;
  box-shadow: 0 4px 4px #000;
  background-color: #f3e9f0;
  height: 150px;
  width: 900px;
}
@media screen and (min-width: 320px) and (max-width: 1600px) {
  #finalisation #adresse_facturation {
    padding: 20px;
  }
}
@media screen and (min-width: 800px) and (max-width: 1100px) {
  #finalisation #adresse_facturation {
    width: 500px;
  }
}
@media screen and (min-width: 600px) and (max-width: 799px) {
  #finalisation #adresse_facturation {
    width: 350px;
  }
}
@media screen and (min-width: 320px) and (max-width: 599px) {
  #finalisation #adresse_facturation {
    font-family: "Architects Daughter", cursive, Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    height: 200px;
    width: 150px;
  }
}

/*# sourceMappingURL=style.css.map */
