//  lancer      ..\dart-sass\sass .\SCSS\style.scss .\CSS\style.css --watch


//lancer serveur :
// taper "node serveur" (ou npm start) dans le dossier backend, ça doit afficher ok port 3000
//accès doit etre OK dans navigateur : http://localhost:3000/api/cameras
//recuperation de données sur serveur :
// fetch("https://url/truc")
//  .then(response => console.l)
//Le then est la promesse, ça fonctionne comme un pipe
//on met dans la variable response le resultat


// variables
//couleurs
$noir : #000;
$blanc : #fff;
$couleur-primaire : #e9bb88;
$couleur-secondaire : #f3e9f0;
$couleur-tertiaire : #c1a4ff;
//tailles
$large : 2em;
$espace_articles : 65px;

//mixins
@mixin flex_center($align-center : initial) /*Celle ci permet d'aligner automatiquement sur l'axe horizontal, avec vertical en option*/
{
    display: flex;
    justify-content: center;
    align-items: $align-center;
}

@mixin police($grand :normal)
{
    font-family: 'Architects Daughter', cursive, Arial, Helvetica, sans-serif;
    font-size: $grand;
}

@mixin marges-auto($specification : auto) //pour mettre les marges auto avec marge spécifique en option
{
    margin-right: $specification;
    margin-left: $specification;
}

//règles générales
//liens
a {
    text-decoration: none;
    color:$noir;
    cursor: pointer;
}
button {
    width: 200px;
    height: 50px;
}
//body
body {
    margin : 0;
}

.max-width-container {
    width: 1600px;
    @include marges-auto();
}

//Header

header {
    background-color: $couleur-secondaire;
    .entete {
        display: flex;
        justify-content: space-around;
        align-items: center;
        nav ul
        {
            width: 600px;
            display: flex;
            justify-content: space-around;
            list-style-type: none;
            @include police($large);
        }
    }
}

//page principale
// articles 
.contenu {
    h1 {
        @include police();
        margin-left: $espace_articles;
        margin-bottom: $espace_articles;
    }
}


.liste_articles_accueil {
    display: flex;
    flex-wrap: wrap;
}

.article {
    @include police();
    @include marges-auto($espace_articles);
    margin-bottom: $espace_articles;
    width : 400px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 0 4px 4px darken($blanc, 10%);
    color:$noir;
    overflow: hidden;
    div {
        height : 250px;
        overflow: hidden;
    }
    a {
        width: 100%;
    }
    .produit_ours {
        width: 100%;
        object-fit: cover;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        transition: all 0.4s;
    }
    &:hover a img {
        transform:scale(1.25);
        transition: all 0.4s;
    }

    h2 {
        @include flex_center(center);
        margin: auto;
        margin-top: 5px;
    }
}
//page produit seul

.produit_seul {
    @include police();
    @include marges-auto($espace_articles);
    display: flex;
    height: 500px;
    margin-top: $espace_articles;
    margin-bottom: $espace_articles;
    border-radius: 20px;
    box-shadow: 0 6px 6px darken($blanc, 20%);
    overflow: hidden;
    .description_produit {
        @include police($large);
        width: 50%;
        flex-direction: column;
    }
    div {
        width: 50%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    h2 {
        @include flex_center(center);
        @include police();
        margin:0;
        margin-right: auto;
        margin-left: auto;
    }
    .produit_ours {
        width: 100%;
        height: 510px;
        object-fit: cover;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
        transition: all 0.4s;
        &:hover {
            transform:scale(1.25);
            transition: all 0.4s;
        }
    }
}

// page panier 
.article_panier {
    @include police();
    @include marges-auto($espace_articles);
    @include flex_center(center);
    margin-bottom: $espace_articles;
    width : 100%;
    height: 200px;
    border-radius: 20px;
    box-shadow: 0 4px 4px darken($blanc, 10%);
    color:$noir;
    overflow: hidden;
    div {
        width: 60%;
        overflow: hidden;
    }
    .renseignements_panier {
        margin-left: 30px;
        @include police($large);
        width: 60%;
    }
    .renseignement_texte {
        width: 100%;
    }
    #titre_total {
        width: 200px;
    }
    .bordure_panier {
        width: 5px;
        height: 100%;
        // background-color: red;
        background-color: darken($blanc, 10%);
    }
    .produit_ours_panier {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        transform-origin: left;
        transition: all 0.4s;
    }
    .photo_produit_panier {
        width: 33%;
    }
    &:hover a img {
        transform:scale(1.25);
        transition: all 0.4s;
    }

    h2 {
        width: 100px ;
        display: flex;
        align-items: center;
        justify-content: center;
        // margin-right: 30px;
        // margin-left: 30px;
        padding-right: 30px;
        padding-left: 30px;
    }
}


//footer
footer {
    @include police($large);
    background-color: $couleur-tertiaire;
    .footer{
        padding-top: $espace_articles;
        padding-bottom: $espace_articles;
    }
    ul {
        display: flex;
        justify-content: space-around;
        list-style-type: none;
    }
}