//  lancer      ..\dart-sass\sass .\SCSS\style.scss .\CSS\style.css --watch


//lancer serveur :
// taper "node serveur" (ou npm start) dans le dossier backend, ça doit afficher ok port 3000
//accès doit etre OK dans navigateur : http://localhost:3000/api/cameras
//recuperation de données sur serveur :
// fetch("https://url/truc")
//  .then(response => console.l)
//Le then est la promesse, ça fonctionne comme un pipe
//on met dans la variable response le resultat


// variables
//couleurs
$noir : #000;
$blanc : #fff;
$couleur-primaire : #e9bb88;
$couleur-secondaire : #f3e9f0;
$couleur-tertiaire : #c1a4ff;
$couleur-rouge-leger : #ff6a6a;
//tailles
$large : 2em;
$espace_articles : 65px;

//mixins
@mixin flex_center($align-center : initial) /*Celle ci permet d'aligner automatiquement sur l'axe horizontal, avec vertical en option*/
{
    display: flex;
    justify-content: center;
    align-items: $align-center;
}

@mixin police($grand :normal)
{
    font-family: 'Architects Daughter', cursive, Arial, Helvetica, sans-serif;
    font-size: $grand;
}

@mixin marges-auto($specification : auto) //pour mettre les marges auto avec marge spécifique en option
{
    margin-right: $specification;
    margin-left: $specification;
}
//keyfrmes
@keyframes hoverBoutons {
    0% {
        transform: scale(1);
    }
    20% {
        transform: scale(1.1);
    }
    40% {
        transform: scale(1.2);
    }
    60% {
        transform: scale(1.3);
    }
    80% {
        transform: scale(1.25);
    }
    100% {
        transform: scale(1.2);
    }
}
@keyframes stopHover {
    from   {transform: scale(1.2); }
    to {transform: scale(1);}
}

//règles générales
//liens
a {
    text-decoration: none;
    color:$noir;
    cursor: pointer;
}

// formulaire

input {
    &:focus{
        outline: none;
        border: 2px solid $couleur-primaire;
    }
    &:not(:focus):not(:placeholder-shown):invalid {
        border: 2px solid red;
    }
}
  


// boutons

button {
    @include police(1.5em);
    @include flex_center(center);
    flex-direction: row;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    background-color: $couleur-primaire;
    margin-top: 30px;
    margin-bottom: 30px;
    cursor: pointer;
    animation: stopHover 200ms;
    &:hover {
        animation: hoverBoutons 125ms ease-in-out alternate forwards;
    }
}
.bouton_delete_panier, #bouton_delete_panier {
    background-color: $couleur-rouge-leger;
}
//body
body {
    margin : 0;
}

.max-width-container {
    width: 1600px;
    @include marges-auto();
}

//Header

header {
    background-color: $couleur-secondaire;
    .entete {
        display: flex;
        justify-content: space-around;
        align-items: center;
        nav ul
        {
            width: 600px;
            display: flex;
            justify-content: space-around;
            list-style-type: none;
            @include police($large);
            li, a {
                display: flex;
            }
            #pastille_panier {
                @include flex_center(center);
                width: 30px;
                height: 30px;
                border-radius: 30px;
                position: relative;// sert à positionner la pastille sur l'icone a 10 px en haut et 110 a gauche
                left: -110px;
                top : -10px;
                font-size:0.7em;
                background-color: red;
            }
        }
    }
}

//page principale
// articles 
.contenu {
    h1 {
        @include police();
        margin-left: $espace_articles;
        margin-bottom: $espace_articles;
    }
}


.liste_articles_accueil {
    display: flex;
    flex-wrap: wrap;
}

.article {
    @include police();
    @include marges-auto($espace_articles);
    margin-bottom: $espace_articles;
    width : 400px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 0 4px 4px darken($blanc, 10%);
    color:$noir;
    overflow: hidden;
    div {
        height : 250px;
        overflow: hidden;
    }
    a {
        width: 100%;
    }
    .produit_ours {
        width: 100%;
        object-fit: cover;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        transition: all 0.4s;
    }
    &:hover a img {
        transform:scale(1.25);
        transition: all 0.4s;
    }

    h2 {
        @include flex_center(center);
        margin: auto;
        margin-top: 5px;
    }
}
//page produit seul

.produit_seul {
    @include police();
    @include marges-auto($espace_articles);
    display: flex;
    height: 500px;
    margin-top: $espace_articles;
    margin-bottom: $espace_articles;
    border-radius: 20px;
    box-shadow: 0 6px 6px darken($blanc, 20%);
    overflow: hidden;
    .description_produit {
        @include police($large);
        width: 50%;
        flex-direction: column;
    }
    div {
        width: 50%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    h2 {
        @include flex_center(center);
        @include police();
        margin:0;
        margin-right: auto;
        margin-left: auto;
    }
    .produit_ours {
        width: 100%;
        height: 510px;
        object-fit: cover;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
        transition: all 0.4s;
        &:hover {
            transform:scale(1.25);
            transition: all 0.4s;
        }
    }
}

// page panier 
.titre_panier {
    display: flex;
    align-items: center;
    margin-bottom: $espace_articles;
    margin-top: $espace_articles;
    @include police(2em);
    h1 {
        @include police(1.5em);
        margin : 0;
        margin-left : $espace_articles;
    }
    #suppression_panier {
        background-color: $couleur-rouge-leger;
    }
}

.article_panier {
    @include police();
    @include flex_center(center);
    margin-bottom: $espace_articles;
    width : 100%;
    height: 200px;
    border-radius: 20px;
    box-shadow: 0 4px 4px darken($blanc, 10%);
    color:$noir;
    overflow: hidden;
    div {
        width: 60%;
        overflow: hidden;
    }
    .renseignements_panier {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        // margin-left: 30px;
        @include police($large);
        width: 60%;
    }
    .renseignement_texte {
        width: 75%;
        height: 40px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    #titre_total {
        width: 200px;
    }
    .bordure_panier {
        width: 5px;
        height: 100%;
        // background-color: red;
        background-color: darken($blanc, 10%);
    }
    .produit_ours_panier {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        transform-origin: left;
        transition: all 0.4s;
    }
    .photo_produit_panier {
        width: 33%;
    }
    &:hover a img {
        transform:scale(1.25);
        transition: all 0.4s;
    }
    h2 {
        width: 100px ;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 30px;
        padding-left: 30px;
    }
}
.renseignement_finalisation {
    @include police($large);
    @include flex_center(center);
    justify-content: space-evenly;
    border-radius: 20px;
    box-shadow: 0 4px 4px darken($blanc, 10%);
    background-color: darken($blanc, 10%);
    height: 350px;
    margin-bottom: $espace_articles;
    #renseignement_total {
        margin-left: 30px;
        text-align: center;
    }
    .renseignements_panier {
        @include flex_center(center);
        @include police();
        height: 100%;
        div {
            width: 100%;
            label{
                display: inline-block;
                clear: left;
                width: 250px;
                text-align: right;
            }
            input {
                display: inline-block;
                height: 30px;
                width: 400px;
                border-radius: 20px;
            }
            .bouton_commander {
                @include police(1em);
                width: 400px;
                position: relative;// sert à positionner un peu plus a gauche
                left: -150px;
                margin-top : 10px;
            }
        }
    }
}

//page finalisation
#finalisation {
    @include police($large);
    @include marges-auto($large);
    @include flex_center(center);
    flex-direction: column;
    height: 600px;
    // background-color: red;
    border-radius: 40px;
    box-shadow: 0 4px 4px darken($blanc, 10%);
    background-color: $couleur-primaire;
    margin-top: $large;
    margin-bottom: $large;
    #adresse_facturation {
        display: flex;
        justify-content: center;
        border-radius: 20px;
        box-shadow: 0 4px 4px $noir;
        background-color: $couleur-secondaire;
        height: 150px;
        width: 1000px;
    }
}

//footer
footer {
    @include police($large);
    background-color: $couleur-tertiaire;
    .footer{
        padding-top: $espace_articles;
        padding-bottom: $espace_articles;
    }
    ul {
        display: flex;
        justify-content: space-around;
        list-style-type: none;
    }
}